@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme{
    --color-metal: #1e2226;
    --color-metal-50: color-mix(in oklab, var(--color-metal) 50%, transparent);
    --font-display: "Space Grotesk", "sans-serif";
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
